In [1]:
#program for grade>90 A, >80 and <=90 B, >=60 and <=80 c,>60  D

In [10]:
marks=int(input("Enter the marks in %"))
if marks>90:
    print("A")
elif marks>80 and marks<=90:
    print("B")
elif marks>=60 and marks<=80:
    print("C")
else:
    print("D")

Enter the marks in % 98

A

In [11]:
#taks pay programm costprice >100000 15%, >50000 and <=100000 10% and <50000 5%

In [13]:
costprice=int(input("Please enter the bike cost"))
tax=0
if costprice>100000:
    print("Road Tax= ",(costprice*15)/100)
elif costprice>50000 and costprice <= 100000:
    print("Road Tax= ",(costprice*10)/100)
else:
    print("Road Tax= ",(costprice*5)/100)

Please enter the bike cost 120000

Road Tax=  18000.0

In [14]:
#city and monuments delhi-red fort,agra-tajmahl and jaypur-jal mahal

In [15]:
city=str(input("Enter the name of city"))
if city =="Delhi":
    print("Red Fort")
elif city=="Jaipur":
    print("Jal Mahal")
elif city=="Agra":
    print("Taj Mahal")
else:
    print("Choose correct city")

Enter the name of city Delhi

Red Fort

In [16]:
#check how many times a number is devide by 3 before it is less than 10

In [21]:
num=int(input("Enter the number"))
count = 0

while num >= 10:
    num=num//3
    count=count+1

print(count)

Enter the number 99

3

In [22]:
#use of while loop

In [23]:
''' when we do not know about how many numbers of time a loop will executed in such a case we should use while loop
Example-'''
num=int(input("Enter the number"))
count = 0

while num >= 10:
    num=num//3
    count=count+1

print(count)

Enter the number 45

2

In [32]:
#use nested while loops for pattern
n = 5  # Number of rows
i = 0

while i < n:
    j = 0
    while j <= i:
        print('*', end=' ')
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [37]:
n = 5  # Number of rows
i = 0

while i < n:
    j = 0
    while j <= i:
        print('*', end=' ')
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [39]:
#numbers from 10 to 1 using while loop
n=10
while n >=1:
    print(n,end=' ')
    n=n-1

10 9 8 7 6 5 4 3 2 1